body {
	background-color: #ffffff;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}

a:link {
	color: #ffffff;
	text-decoration: none;
}

a:active {
	color: #aad037;
	text-decoration: none;
}

a:visited {
	color: #ffffff;
	text-decoration: none;
}

a:hover {
	color: #aad037;
	text-decoration: underline;
}

table {
	border-collapse: collapse;
	border: 0;
	border-spacing: 0px;
	padding: 0px;
}

td {
	padding: 0px;
}

td.socialicon {
	width: 40px;
	height: 40px;
	text-align: center;
	vertical-align: bottom;
}

.contactheading {
	font-size: 11px;
	color: #124278;
	font-weight: bold;
}

.contactinfo {
	font-size: 12px;
}

td.contacticon {
	width: 26px;
	height: 26px;
	text-align: left;
	vertical-align: middle;
}

td.contacttext {

	height: 26px;
	text-align: left;
	vertical-align: middle;
	color: #124278;
}

#mainmenu

/* menyn utan Back-knappen */
	{
	display: inline-block;
	margin-left: 110px;
	border: 1px solid #000;
	background-color: #274f26;
	padding: 0px;
}

#mainmenuback

/* menyn med Back-knappen */
	{
	display: inline-block;
	margin-left: 110px;
	border: 1px solid #000;
	background-color: #274f26;
	padding-right: 0px;
}

.menuitem {
	position: relative;
	float: left;
	text-align: left;
}

.menuitem table {
	height: 30px;
}


#headercontainer {
	position: relative;
	display: block;
	height: 130px;
	margin-bottom: 30px;
}

#headerleft,
#headermiddle,
#headerright {
	position: relative;
	float: left;
}

#headerleft {
	margin-left: 50px;
	height: 130px;
	width: 293px;
}

#headermiddle {
	margin-left: 60px;
	height: 130px;
	width: 270px;
}

#headerright {
	margin-left: 30px;
	height: 130px;
	width: 180px;
}


td.mainmenuicon {
	width: 34px;
	height: 30px;
	text-align: center;
	vertical-align: middle;
}

td.mainmenutext {
	height: 26px;
	text-align: left;
	vertical-align: middle;
	color: #124278;
	font-size: 14px;
	font-weight: bold;
	padding-right: 42px;
}

td.menuitemdivider {
	width: 1px;
	height: 30px;
	background-color: #ffffff;
}

/* drop meny */
.menuitem:hover .menudropitem {
	display: block;
}

.menudropitem {
	display: none;
	position: absolute;
	z-index: 1;
}


td.menudropitemtext {
	height: 30px;
	min-width: 180px;
	text-align: left;
	padding-left: 15px;
	vertical-align: middle;
	border: 1px solid #000;
	background-color: #aad037;
}


td.boardicon {
	width: 100px;
	height: 100px;
	text-align: center;
	vertical-align: middle;
}

.infotable {
	width: 758px;
	margin-left: 110px;
	border: 1px solid;
	border-color: #000000;
	background-image: url("../images/tablebg.gif");
	margin-bottom: 20px;
}

.infotablecell {
	padding: 20px;
	text-align: left;
	vertical-align: top;
}

.boarddesc {
	color: #000000;
	font-family: arial, sans-serif;
	font-size: 14px;
	/* motsvarar font size="2" */
	padding: 4px 0;
	text-align: center;
}

h1 {
	font-size: 16px;
	font-weight: bold;
}

h2 {
	font-size: 16px;
	font-weight: normal;
	font-style: italic;
}

h3 {
	font-size: 14px;
	font-weight: bold;
}

.board-title {
	font-weight: bold;
}


.board-subtitle {
	font-weight: normal;
}

.infotitles {
	padding-top: 20px;
	padding-left: 20px;
	text-align: left;
	vertical-align: bottom;
}