.sidebar {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #616161;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 50px;
}

.sidebar a {
    /* FIX: tog bort kommatecken i padding */
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #818181;
}

.sidebar .closemenubutton {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#menubuttoncontainer {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}

.openmenubutton {
    font-size: 14px;
    background-color: #000;
    color: #fff;
    /* FIX: tog bort kommatecken i padding */
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.openmenubutton:hover {
    background-color: #444444;
}

.openmenutext {
    font-size: medium;
    padding-left: 15px;
}